.ion-activatable {
    position: relative;
    overflow: hidden;
  }

.root {
    width: '100%',
}

.boton{  
  height: auto;
  text-align: center;
  font-size: 11px;
}

.grid { 
  height: auto;
  padding: 95px 5px;
  vertical-align: middle;
}

.margen{
  margin: 15px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.row {
    height: 45%;
}

.menuBtn{
  margin: 47px;
}

.search{
    padding: '2px 4px';
    display: 'flex';
    width: 400;
}

.inputSearch{
  margin-left: 1;
  flex: 1,
}

/* ion-avatar> img{
  border-radius:0%;
  height: 100%;
  width: 100%;
}
 */
