/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #F95F62;
  --ion-color-primary-rgb: 249,95,98;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #db5456;
  --ion-color-primary-tint: #fa6f72;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #F95F62;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /**  dragon **/
  --ion-color-dragon: #ed4d50;
  --ion-color-dragon-rgb: 237,77,80;
  --ion-color-dragon-contrast: #ffffff;
  --ion-color-dragon-contrast-rgb: 255,255,255;
  --ion-color-dragon-shade: #d14446;
  --ion-color-dragon-tint: #ef5f62;

  /**  alto **/
  --ion-color-alto: #e464e4;
  --ion-color-alto-rgb: 228,100,228;
  --ion-color-alto-contrast: #000000;
  --ion-color-alto-contrast-rgb: 0,0,0;
  --ion-color-alto-shade: #c958c9;
  --ion-color-alto-tint: #e774e7;

  /**  bajo **/
  --ion-color-bajo: #1cacec;
  --ion-color-bajo-rgb: 28,172,236;
  --ion-color-bajo-contrast: #000000;
  --ion-color-bajo-contrast-rgb: 0,0,0;
  --ion-color-bajo-shade: #1997d0;
  --ion-color-bajo-tint: #33b4ee;

   /**  medio **/
  --ion-color-medio: #a4d42c;
  --ion-color-medio-rgb: 164,212,44;
  --ion-color-medio-contrast: #000000;
  --ion-color-medio-contrast-rgb: 0,0,0;
  --ion-color-medio-shade: #90bb27;
  --ion-color-medio-tint: #add841;

   /**  critico **/
   --ion-color-critico: #ec344c;
   --ion-color-critico-rgb: 236,52,76;
   --ion-color-critico-contrast: #ffffff;
   --ion-color-critico-contrast-rgb: 255,255,255;
   --ion-color-critico-shade: #d02e43;
   --ion-color-critico-tint: #ee485e;

   /**  pendiente **/
   --ion-color-pendiente: #fc9c04;
   --ion-color-pendiente-rgb: 252,156,4;
   --ion-color-pendiente-contrast: #000000;
   --ion-color-pendiente-contrast-rgb: 0,0,0;
   --ion-color-pendiente-shade: #de8904;
   --ion-color-pendiente-tint: #fca61d;
}

.ion-color-dragon {
  --ion-color-base: var(--ion-color-dragon);
  --ion-color-base-rgb: var(--ion-color-dragon-rgb);
  --ion-color-contrast: var(--ion-color-dragon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dragon-contrast-rgb);
  --ion-color-shade: var(--ion-color-dragon-shade);
  --ion-color-tint: var(--ion-color-dragon-tint);
}

.ion-color-alto {
  --ion-color-base: var(--ion-color-alto);
  --ion-color-base-rgb: var(--ion-color-alto-rgb);
  --ion-color-contrast: var(--ion-color-alto-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alto-contrast-rgb);
  --ion-color-shade: var(--ion-color-alto-shade);
  --ion-color-tint: var(--ion-color-alto-tint);
}

.ion-color-bajo {
  --ion-color-base: var(--ion-color-bajo);
  --ion-color-base-rgb: var(--ion-color-bajo-rgb);
  --ion-color-contrast: var(--ion-color-bajo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bajo-contrast-rgb);
  --ion-color-shade: var(--ion-color-bajo-shade);
  --ion-color-tint: var(--ion-color-bajo-tint);
}

.ion-color-medio {
  --ion-color-base: var(--ion-color-medio);
  --ion-color-base-rgb: var(--ion-color-medio-rgb);
  --ion-color-contrast: var(--ion-color-medio-contrast);
  --ion-color-contrast-rgb: var(--ion-color-medio-contrast-rgb);
  --ion-color-shade: var(--ion-color-medio-shade);
  --ion-color-tint: var(--ion-color-medio-tint);
}

.ion-color-critico {
  --ion-color-base: var(--ion-color-critico);
  --ion-color-base-rgb: var(--ion-color-critico-rgb);
  --ion-color-contrast: var(--ion-color-critico-contrast);
  --ion-color-contrast-rgb: var(--ion-color-critico-contrast-rgb);
  --ion-color-shade: var(--ion-color-critico-shade);
  --ion-color-tint: var(--ion-color-critico-tint);
}

.ion-color-pendiente {
  --ion-color-base: var(--ion-color-pendiente);
  --ion-color-base-rgb: var(--ion-color-pendiente-rgb);
  --ion-color-contrast: var(--ion-color-pendiente-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pendiente-contrast-rgb);
  --ion-color-shade: var(--ion-color-pendiente-shade);
  --ion-color-tint: var(--ion-color-pendiente-tint);
}


.btn1 {
  --color:red;
}

.img {
  --size:400px;
}

.btn2 {
  --color:white;
}

.bp {
  --width: 900px;
  --height: 900px;
  --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 11px;
  --padding-end: 11px;
  --padding-bottom :0px;
  --padding-top: 0px;
  --color-activated:white;
  --background: white;
  --background-activated: white;
}

.bp2 {
  --overflow: hidden;
  --ripple-color: white; 
  --background-hover: white;
  --padding-start: 11px;
  --padding-end: 11px;
  --padding-bottom :0px;
  --padding-top: 0px;
}

.user_Name {
  display: flex;
  justify-content: center;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}


.vista {
  --width: 260px;
}
